[menu othermenu]
start = "id-2"
activeNode = 0
listItemClasses = "item"
primaryClasses = "nav nav-pills"
secondaryClasses = "dropdown-menu"
numberOfLevels = 1
==
<div class="head">
    <div class="head_content" style="background-color: rgba(30, 30, 30, 0.8);">
        <div class="head_top">
            <div class="logo">
                <a href="" class="logo_left"><img src="{{ 'assets/img/logo.png'|theme }}"></a>
            </div>
            {% component 'othermenu' %}
        </div>
    </div>
</div>