.top-notification
{
    text-align: center;
    margin: 0;
    width: 100%;
    height: 28px;
    line-height: 28px;
    z-index: 9999;
    background: #FFC;
    position: relative;
    display: none;
    overflow: hidden;
    border-bottom: 1px solid #f7f2b5;
}
.top-notification span
{
    color: #666;
    font-size: 12px;
}
.top-notification span a
{
    color: #08C;
    text-decoration: underline !important;
}
.top-notification .close
{
    float: none;
    position: absolute;
    right: 3px;
    top: 0;
}
