.swiper-button-prev{background: url(../img/icon-prev.png) no-repeat;width: 40px ;
	height: 70px;position: absolute;z-index: 55555555;top: 50%;left: -40px!important}
.swiper-button-next{background: url(../img/icon-next.png) no-repeat;width: 40px ;
	height: 70px;position: absolute;z-index: 55555555;top: 50%;right: -40px!important;
}
.swiper-button-prev,.swiper-button-next{transform: translateY(50%);
	-moz-transform: translateY(50%);-webkit-transform: translateY(50%);}
.swiper-slide{background-size: cover}